<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2">
  <a class="navbar-brand" href="#">RECIPY RXJS</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/createRecipy" @changeText>Create</a>
    </div>

    <ng-container *ngIf="actualRoute$ | async"
      ><div
        class="navbar-nav"
        *ngIf="{ value: filterOptions$ | async } as flag"
        @changeText
      >
        <a class="nav-item nav-link" (click)="setFilter(flag.value)">
          {{ filterName }}</a
        >
      </div>
    </ng-container>
  </div>
</nav>
