<div *ngIf="selectedRecipy$ | async; let recipe">
  <form [formGroup]="recipyForm" (ngSubmit)="editRecipy(recipe.id)">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input
              type="text"
              class="form-control"
              formControlName="title"
              id="title"
              aria-describedby="emailHelp"
              placeholder="Title"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputEmail1">ingredients</label>
            <input
              type="text"
              class="form-control"
              formControlName="ingredients"
              id="ingredients"
              aria-describedby="emailHelp"
              placeholder="Enter ingredients"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">cookingTime</label>
            <input
              type="text"
              class="form-control"
              formControlName="cookingTime"
              id="cookingTime"
              placeholder="cookingTime"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">prepTime</label>
            <input
              type="text"
              class="form-control"
              id="prepTime"
              placeholder="prepTime"
              formControlName="prepTime"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">prepTime</label>
            <!-- //[ngModel]="selectedRecipy$ | async" -->
            <input
              type="text"
              class="form-control"
              id="prepTime"
              placeholder="prepTime"
              formControlName="prepTime"
            />
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">ADD!</button>
    </div>
  </form>
</div>
<div>
  <ng-container *ngIf="valueChanges$ | async"></ng-container>
</div>
