<div class="container">
  <div class="row m-2" *ngIf="filterOptions$ | async" @fadeSlideInOut>
    <app-filter-recipes></app-filter-recipes>
  </div>
  <div class="row">
    <div
      *ngIf="filtredRecipes$ | async as recipes"
      class="row m-2"
      [@listAnimation]="recipes.length"
    >
      <div
        *ngFor="let item of recipes"
        class="col-4 border p-4 mb-3"
        appHighlight
      >
        <img
          class="card-img-top"
          src="https://media.istockphoto.com/photos/lemon-cake-picture-id95019434?k=20&m=95019434&s=612x612&w=0&h=EUdBGe1Bus-2hI2S4QUnJRo6JxTHQFax8jW8aQlJf9k="
          alt="Card image"
        />
        <div class="card-body" (click)="editRecipy(item)">
          <h5 class="card-title">{{ item.title | uppercase }}</h5>

          <p class="card-text">
            <label> Prep Time: </label>
            {{ item.prepTime | cookTime }}
          </p>
          <p *ngIf="item.cookingTime" class="card-text">
            <label> Cooking Time: </label>
            {{ item.cookingTime | cookTime }}
          </p>
          <p class="card-text">
            <label> Rating: </label>
            <ngb-rating [rate]="setRating(item)"></ngb-rating>
          </p>
          <p class="card-text">
            <label> Category: </label>
            {{ setCategory(item) }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
