<form
  [formGroup]="profileForm"
  (ngSubmit)="onSubmit()"
  class="form-group form-inline"
>
  <div class="row align-items-center">
    <div class="col-3">
      <div class="form-group form-inline">
        <label for="">Title</label>

        <input
          type="text"
          class="form-control"
          formControlName="title"
          id="title"
          aria-describedby="emailHelp"
          placeholder="Title"
        />
      </div>
    </div>
    <div class="col-3">
      <div class="form-check form-check-inline">
        <label for="keyword">Key Word</label>
        <input
          type="text"
          class="form-control"
          formControlName="keyword"
          id="keyword"
          aria-describedby="emailHelp"
          placeholder="Enter key"
        />
      </div>
    </div>
    <div class="col-2">
      <div class="form-check form-check-inline">
        <label for="exampleInputPassword1">Category</label>
        <select class="form-select">
          <option *ngFor="let symbol of keys(fileTypes)" [ngValue]="fileTypes">
            {{ symbol }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-2">
      <div class="form-check">
        <label for="tags">Tags</label>
        <input
          type="text"
          class="form-control"
          id="tags"
          placeholder="tags"
          formControlName="tags"
        />
      </div>
    </div>
    <div class="col-1">
      <div class="form-check">
        <label for="tags"></label>
        <button type="submit" class="btn btn-primary">Find!</button>
      </div>
    </div>
  </div>
</form>
